part3/flows/dht11-test-flow.json
[
    {
        "id": "1e0a322b.c2ed1e",
        "type": "tab",
        "label": "DHT-11",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c88208a.29df178",
        "type": "rpi-dht22",
        "z": "1e0a322b.c2ed1e",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "2",
        "pin": "15",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b6d90147.a51cc8"
            ]
        ]
    },
    {
        "id": "ff11c364.50efb8",
        "type": "inject",
        "z": "1e0a322b.c2ed1e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c88208a.29df178"
            ]
        ]
    },
    {
        "id": "b6d90147.a51cc8",
        "type": "debug",
        "z": "1e0a322b.c2ed1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 450,
        "y": 80,
        "wires": []
    }
]