part3/flows/neopixel-test-flow.json
[
    {
        "id": "3f146281.29c49e",
        "type": "tab",
        "label": "NeoPixel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f448b42b.2d111",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "c5ebd79.8057c28"
            ]
        ]
    },
    {
        "id": "7813e484.75bbdc",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Off - Other",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,0,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "15b280ee.7854df"
            ]
        ]
    },
    {
        "id": "5928c5f2.63bb84",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Pink Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#FF1493",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "15b280ee.7854df"
            ]
        ]
    },
    {
        "id": "1b249d3d.03d373",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Purple Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "238,130,238",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "15b280ee.7854df"
            ]
        ]
    },
    {
        "id": "c5ebd79.8057c28",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Green Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#00FF00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "15b280ee.7854df"
            ]
        ]
    },
    {
        "id": "8c96911d.ecfe1",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Blue Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#0000FF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d25632b0.4b90d"
            ]
        ]
    },
    {
        "id": "ba6aa61e.217e18",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Red Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,255,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d25632b0.4b90d"
            ]
        ]
    },
    {
        "id": "9d320c72.ba3d2",
        "type": "change",
        "z": "3f146281.29c49e",
        "name": "Yellow Color",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255,255,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "d25632b0.4b90d"
            ]
        ]
    },
    {
        "id": "d25632b0.4b90d",
        "type": "rpi-neopixels",
        "z": "3f146281.29c49e",
        "name": "Set LED Color",
        "pixels": "1",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "da94ef3a.9f2c",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "8c96911d.ecfe1"
            ]
        ]
    },
    {
        "id": "bf395d2f.744fb",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "ba6aa61e.217e18"
            ]
        ]
    },
    {
        "id": "42cd3055.55d54",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "9d320c72.ba3d2"
            ]
        ]
    },
    {
        "id": "da3dbd8a.bd9ac",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "1b249d3d.03d373"
            ]
        ]
    },
    {
        "id": "b1398381.cdb438",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "5928c5f2.63bb84"
            ]
        ]
    },
    {
        "id": "9381c5d6.945338",
        "type": "inject",
        "z": "3f146281.29c49e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "7813e484.75bbdc"
            ]
        ]
    },
    {
        "id": "15b280ee.7854df",
        "type": "rpi-neopixels",
        "z": "3f146281.29c49e",
        "name": "Set LED Color",
        "pixels": "1",
        "bgnd": "",
        "fgnd": "",
        "wipe": "40",
        "mode": "pcent",
        "rgb": "grb",
        "brightness": "100",
        "gamma": true,
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "1799e887.69b0ef",
        "type": "comment",
        "z": "3f146281.29c49e",
        "name": "RGB values",
        "info": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "f320276f.01a04",
        "type": "comment",
        "z": "3f146281.29c49e",
        "name": "GRB values",
        "info": "",
        "x": 690,
        "y": 220,
        "wires": []
    }
]