part3/flows/quickstart-test-flow.json
[
    {
        "id": "a859d9bf.4ef5c",
        "type": "tab",
        "label": "Watson IoT Quickstart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58bb0390.5e4d14",
        "type": "inject",
        "z": "a859d9bf.4ef5c",
        "name": "Poll every 10 seconds",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "20ec78fc.a69f88"
            ]
        ]
    },
    {
        "id": "f7800539.772da",
        "type": "debug",
        "z": "a859d9bf.4ef5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "2963de4c.15fc72",
        "type": "comment",
        "z": "a859d9bf.4ef5c",
        "name": "Reformat DHT data ",
        "info": "Reformat DHT data into a MQTT payload that\nWatson IoT Platform Quickstart will plot\n\nConvert:\nmsg.\n    topic: \"rpi-dht11\"\n    payload: \"20.00\"\n    humidity: \"33.00\"\n    isValid: true\n    errors: 2\n    sensorid: \"dht11\"\n    \nto msg.payload = \n{\n    \"d\": {\n        \"temperature\": \"20.00\",\n        \"humidity\": \"33.00\"\n    }\n}",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "20ec78fc.a69f88",
        "type": "rpi-dht22",
        "z": "a859d9bf.4ef5c",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "2",
        "pin": "15",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b9a7e238.44a6c"
            ]
        ]
    },
    {
        "id": "b9a7e238.44a6c",
        "type": "template",
        "z": "a859d9bf.4ef5c",
        "name": "Build IoT MQTT payload ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"d\":{\"temperature\":{{payload}},\"humidity\":{{humidity}} }}",
        "output": "str",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "f7800539.772da",
                "1c541567.0e086b"
            ]
        ]
    },
    {
        "id": "1c541567.0e086b",
        "type": "wiotp out",
        "z": "a859d9bf.4ef5c",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "1c541567.0e086b",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "QuickStart",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "cec2023d.ed85d",
        "type": "change",
        "z": "a859d9bf.4ef5c",
        "name": "Build IoT MQTT payload",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"d\":{\"temperature\":0,\"humidity\":0}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.d.temperature",
                "pt": "msg",
                "to": "temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.humidity",
                "pt": "msg",
                "to": "humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    }
]